.animatedText {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  animation:
    typing 2.5s steps(80),
    blink-caret .75s step-end infinite;
  display: inline-block;
  -webkit-box-sizing:content-box;
  box-sizing:content-box;
  
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}